.dashboard {
  padding: 20px;

}

.dashboard-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.dashboard-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  padding: 0px 20px;
  border-right: 1px solid #ddd;
  /* border-radius: 5px; */
}

.section h2 {
  font-weight: 500;
  font-size: 16px;
}

.section h4 {
  color: black;
  opacity: 60%;
  font-weight: 400;
  font-size: 14px;
}

/* .charts {

  display: flex;
  flex-wrap: wrap;
} */

/* .chart {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  margin: 10px;
  text-align: center;
} */

.quick-links ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.quick-links ul a {
  text-decoration: none;
  color: black;
  opacity: 60%;
  margin-left: 50px;
}

.quick-links li {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 10px;
  padding-top: 10px;
}

.quick-links li .logo {
  background-color:teal;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.quick-links img {
  margin-right: 10px;
}

.quick-links p {
  width: 110px;
}

.pie-chart-section {
  margin-top: -5px;
  border: none;
  padding: 0;
}

.view-report-btn {
  margin-left: 120px;
  padding: 5px 10px;
  background-color: #dddddd18;
  border: 1px solid #5A6ACF;
  border-radius: 6px;
  color: #5A6ACF;
  cursor: pointer;
}

/* multi chart css */
.multi-chart-container {
  position: relative;
  width: 500px;
  /* Adjust as needed */
  height: 600px;
  /* Adjust as needed */
}

.chart {
  position: absolute;
  width: 100%;
}

.chart1 {
  top: 4%;
  left: 22%;
}

.chart2 {
  top: 11%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.chart3 {
  top: 34%;
  left: 42%;
  transform: translate(-50%, -50%);
}

/* end */
@media (min-width: 768px) {
  .dashboard-sections {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .section {
    flex: 1;
    min-width: 300px;
  }

  .charts {
    justify-content: space-between;
  }
}