.manage-ipo-container {
  padding: 20px;
}

.manage-ipo-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 20px;
  font-weight: 500;
}

.register-ipo {
  padding: 10px 20px;
  background-color: #fff;
  color: #5A6ACF;
  border: 0.5px solid #DDE4F0;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 5px 0px #40485223;
  cursor: pointer;
}

.ipo-table {
  width: 100%;
  border-collapse: collapse;
}

.pagination {
  display: flex;
  justify-content:left;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

/* additional */
.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}