* {
  font-family: "poppins", "sans-serif";
}

html {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  overflow-x: hidden;
}

.sidebar {
  width: 250px;
  background-color: #F1F2F7;
  color: #787f89;
  min-height: 100vh;
  padding-right: 10px;
}

.logo-section {
  padding-top: 30px;
  padding-right: 30px;
  text-align: center;
  cursor: pointer;
}

.logo {
  max-width: 100%;
  height: auto;
}

.menu-section {
  padding-left: 30px;
}

.menu-section h5 {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;

}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: rgba(120, 127, 137, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
  width: 160px;
}

.menu-item:hover {
  background-color: #e4e7f5;
  color: rgb(90, 106, 207);
  border-radius: 6px;
}

.menu-section .menu-item i {
  font-size: 18px;
  /* color: rgb(196,199,219); */
}

.main-content {
  flex: 1;
  /* padding-top: 20px; */
  /* padding-left: 25px; */
  background-color: #f8f9fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: white;
  /* border-bottom: 1px solid #dee2e6; */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 80vw;
  padding: 15px 10px;
  margin: 0;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.search-bar input {
  padding: 8px 35px 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: rgb(246, 246, 251);
  width: 625px;
  height: 32px;
  position: relative;
}

.search-bar i {
  position: absolute;
  left: 625px;
  cursor: pointer;
  opacity: 50%;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 100px;
}

.user-info .user {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

}

.user-info i {
  cursor: pointer;
  font-size: 14px;
}

.user-info #arrow-down {
  opacity: 70%;
  font-size: 18px;
  color: rgb(176, 195, 204);
  cursor: pointer;
}

.navbar #bell {
  margin-right: 40px;
  opacity: 70%;
  font-size: 18px;
  color: rgb(176, 195, 204);
  cursor: pointer;
}
